body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
header {
    height: 100vh;
    background: url(images/headphones_hero_1.jpg) no-repeat center center/cover;
    margin-top: -1rem;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 1rem 5rem;
}
nav ul {
    display: flex;
}
nav ul li {
    padding: 0.9rem 1.2rem;
    margin:  0 1rem;
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.showcase {
    margin: 10rem 5rem;
    text-align: center;
}
.showcase h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 0;
}
.showcase h3 {
    margin-top: 0;
    color: #fff;
}
.showcase p {
    color: #fff;
    font-size: 1.2rem;
}
button {
    background-color: #f72d48;
    padding: 10px 30px;
    border-radius: 1rem;
    border: none;
}
.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about p {
    font-size: 1.2rem;
}
.words {
    width: 50%;
    margin: auto;
    text-align: center;
}
.flex-box {
    display: flex;
    justify-content: space-around;
}
.icons {
    width: 10%;
    align-items: center;
    text-align: center;
}

#d2{
    background: url(images/pentagone.png) center center/cover no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#d2 h4 {
    font-size: 1.3rem;
}

#faqs {
    background: url(images/headphones_hero_2.jpg) center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#faqs h1, .about h1 {
    font-size: 3rem;
}

section {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
textarea, input{
    border: none;
    width: 100%;
    border-bottom: 1px solid gray;
}

section button {
    margin-top: 50px;
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: #f72d48;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

@media screen and (max-width:820px) {
    nav {
        margin: 1rem 2rem;
    }
    nav ul li {
        padding: 1rem 0.2rem;
        margin:  0 0.2rem;
    }
    
    .about {
        height: auto;
    }

    .icons {
        width: 40%;
        margin-top: 2rem;
    }
    .flex-box {
        flex-wrap: wrap;
    }
    .words {
        width: 80%;
    }
}


@media screen and (max-width:430px) {
    nav ul {
        display: none;
    }

    nav h2 img {
        width: 250px;
    }
    header {
        height: auto;
    }
    .words {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .flex-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #faqs {
        height: auto;
    }

    .showcase {
        margin: 5rem 1rem;
        text-align: center;
    }
    .showcase h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: 1rem;
    }
}